.myTitle {
      font-size: 1.1em;
      padding: 10px 35px 10px 35px;
      float: left;
      margin-right: 25%;
      margin-left: 0px;
      margin-top: 0px;
      background-color: #D6D6D6;

      color: gray;
      border-radius: 7px 0px 7px 0px;
      border-bottom: 1px solid gray;
      border-right: 1px solid gray;
}

.newsWrapper {
      background-color: #FFFFFF;
      top: 0px;
      box-shadow: 0px 0px 10px gray;
      border-radius: 7px;
      padding-bottom: 15px;
      margin-top: 50px;
}

.newsWindow {
      padding-top: 0px;
      margin-left: 30px;
      margin-right: 30px;
      border-bottom: 1px solid #959595;
      overflow: auto;
  }

        
.newsWindowDateField {
      color: #333;
      font-size: 0.7em;
      padding-top: 5px;
}
.newsWindowTitleBar {         
      color: #333;
      font-size: 2.0em;
      font-family: Georgia,"Times New Roman",Times,serif;
      padding-bottom: 12px;
      line-height: 1.2em;
}
.newsWindowTitleBar a {
      text-decoration: none;
      color: #333;
}
.newsWindowTitleBar a:hover {
      text-decoration: underline;
}

.newsWindowImg {   
      width: 100%;
}
.newsWindowImg img {
      display: block;
      margin: 0 auto;
}

.newsWindowMessage {
      margin: 5px 10px 10px 10px;
      padding-right: 20px;
      font-size: 0.85em;
      padding-left: 10px;
      text-align: left;
      overflow: auto;
}

.pin {
      font-size: 0.85em;
      text-align: left;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
      overflow: auto;

}

.event {
      border-left: 2px solid #d6d6d6;
      padding-left: 10px;
      margin-bottom: 20px;
      color: gray;
}

.eventDate {
      padding-left: 5px;
      font-weight: bold;

}

.eventDesc {
     padding-top: 3px; 
     color: #333333;

}